.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #eee5e9;
  margin-bottom: 16px;
  padding: 8px 16px;
  border-radius: 10px;
  width: fit-content;
  transition: transform 200ms;
}

.container:hover {
    transform: scale(1.05, 1.05);
}

.thumbnail {
  height: 100px;
  width: 125px;
  object-fit: cover;
}

.blogTitle {
  color: black;
  margin: 0;
}

.blogContent {
  color: black;
  margin: 0;
}

.contentContainer {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.small {
  color: black;
  font-style: italic;
  font-size: small;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
}
