/* html {
    overflow: scroll;
    overflow-x: hidden;
} */

body {
    background-color: #1F1E1D;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Lexend', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #E30F38;
}
